.contact .wrapper {
    display: flex;
    flex: 1 1 100%;
    padding: 10rem 0;
}

.contact {
    position: relative;
    height: 80vh;
}

.contact-form {
    flex: 0 0 63%;
    display: inline-block;
    padding: 0 ;
}

.contact-form fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
}

.contact-form input[class="name"],
.contact-form input[class="email"],
.contact-form input[class="subject"] {
    flex: 0 0 48%;
    margin-top: 2rem;
    height: 5rem;
    padding: 2rem 1rem;
    background-color: $white;
    border: none;
    font-family: 'Lora', 'sans-serif';
    font-size: 1.3rem;
    color: $grey;
}

.contact-form input[class="subject"] {
    flex: 0 0 100%;
}

.contact-form textarea {
    margin: 2rem 0;
    flex: 0 0 100%;
    resize: vertical;
    min-width: 100%;
    resize: none;
    padding: 2rem 1rem;
    background-color: $white;
    border: none;
    font-family: 'Lora', 'sans-serif';
    font-size: 1.3rem;
    color: $grey;
}

.contact-form button {
    background-color: $white;
    border: none;
    a {
        color: $green;
        font-size: 1.4rem;
        font-family: 'Raleway', 'sans-serif';
    }
    i {
        transform: translateY(4px);
        padding-left: 5px;
        }
}

.contact-details {
    width: 37%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white;
    padding: 10rem 20rem 10rem 3rem;
}

.contact h3 {
    font-size: 2.4rem;
}

.contact-details-info p {
    padding: 2rem 0 4rem;
}

.contact-working-hours {
    padding-bottom: 4rem;
    h4 {
        padding-bottom: 2rem;
    }
        p:nth-last-child(2) {
            margin: 0;
        }
            span {
                color: $blacktwo;
            }
        
            p:last-child {
                margin-top: 0;;
                font-style: italic;
                font-size: 1.3rem;
            }
}

.contact-info p {
    padding: 0.5rem 0;
}

.banner {
    display: block;
    background-image: url(../styles/delicious-assets/contact-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
}