header a:hover {
    color: $green;
}

.button:hover {
    color: $green;
    background-color: $white;
    border: 1px solid $green;
}

.recipes-links li:hover i,
.recipes-links li:hover h3,
.recipes-links li:hover p {
        color: $green;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    color: $white;
}

.blog a:hover {
    color: rgb(153, 153, 153);
}

.related-posts a:hover {
    color: $grey;
}

.comments-form button:hover {
    background-color: #FFFFFF;
    border: 1px solid $green;
    a {
        color: $green;
    }
}

.contact-form button:hover {
    transform: scale(1.1);
}

footer .social-links a:hover,
footer a>p:hover,
footer button:hover i {
    color: $green;
}

footer button:hover {
    background-color: $white;    
}